.anim {
    transition: all 1s ease-out;

    &--fadein {
        opacity: 0;
        
        &.anim--visible {
            opacity: 1;
        }
    }
    
    &--frombottom {
        transition: 1s ease-out;
        transform: translate3d(0, 10%, 0);
        opacity: 0;
        
        &.anim--visible {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
}

