.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-minus:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-tick:before {
  content: "\e900";
}
