.c-cookies {
    @extend %flex;
    @extend %flex-y;
    @extend %flex-spacebetween;
    position: fixed;
    left: 50%; bottom: 0;
    z-index: 100;
    transform: translate3d(-50%, -30px, 0);
    width: 1295px;
    height: 100px;
    background-color: white;
    box-shadow: rgba(black, .08) 0 0 84px;
    padding: 15px 30px 15px 40px;
    transition: .5s ease-out;
    
    @media screen and ( max-width: 1335px ) {
        width: grid(1295, 1335);
    }
    
    @media screen and ( max-width: $tablet + px ) {
        height: 80px;
    }
    
    @media screen and ( max-width: $smartphone + px ) {
        height: auto;
        min-height: 80px;
        padding: 15px 20px;
        transform: translate3d(-50%, -10px, 0);
    }
    
    &.move-out {
        transform: translate3d(-50%, 130px, 0);        
        opacity: 0;
    }

    &__btn {
        @extend %anim;
        @extend %flex;
        @extend %flex-xy;
        flex-shrink: 0;
        width: 186px;
        height: 46px;
        border: 1px solid #e8e8e8;
        margin-left: 30px;
        text-transform: uppercase;
        font-size: rem(12);
        letter-spacing: 1px;
        white-space: nowrap;
        padding-top: 4px;
        cursor: pointer;
        
        @media screen and ( max-width: $smartphone + px ) {
            width: 140px;
            letter-spacing: .5px;
        }
        
        @media screen and ( max-width: $smartphone_portrait + px ) {
            width: 120px;
            letter-spacing: 0;
            font-size: rem(11);
        }        
        
        &:hover {
            border-color: transparent;
            background-color: black;
            color: white;
        }
    }
    
    &__text {
        font: {
            family: $tiempos;
            size: rem(18);
        }
        color: black;
        
        @media screen and ( max-width: $tablet + px ) {
            font-size: rem(14);
        }
        
        @media screen and ( max-width: $smartphone + px ) {
            width: 100%;
            text-align: center;
            font-size: rem(12);
        }
        
        @media screen and ( max-width: $smartphone_portrait + px ) {
            font-size: rem(10);
        }  
        
        a {
            border-bottom: 1px solid black;
        }
    }
}