.c-inside {
    @extend %flex;
    @extend %rel;
    //max-width: 1200px;
    margin: 0 auto;
    
    @media screen and ( max-width: $tablet_portrait + px) {
        flex-wrap: wrap;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }

    &__description {
        margin-bottom: 20px;
        min-height: 100px;
        
        @media screen and ( min-width: $tablet_portrait + 1px ) {
            min-height: 130px;
        }
        
        @media screen and ( max-width: $tablet_portrait + px ) {
            padding: 0 20px;
        }
        
        p {
            font-size: rem(18);
        }
    }
    
    &__num {
        @extend %flex;
        @extend %flex-xy;
        width: 90px; height: 90px;
        border-radius: 50%;
        margin: 0 auto 40px auto;
        font-size: rem(24);
        color: #181818;
        
        @media screen and ( min-width: $large ) {
            margin-bottom: 70px;
        }
        
        @media screen and ( max-width: $minmedium ) {
            width: 70px; height: 70px;
        }
    }
    
    &__pagination {
        @extend %flex;
        @extend %flex-xy;

        .arrow {
            @extend %anim;
            @extend %flex-xy;
            display: inline-flex;
            width: 30px; height: 30px;
            border: 1px solid $c-gray9;
            border-radius: 50%;
            font-size: rem(11);
            cursor: pointer;
            
            &:before {
                @extend %anim;
            }

            &:hover {
                background-color: $c-black2;
                border-color: $c-black2;
                
                &:before {
                    color: white;
                }
                
            }
            
            &.slick-prev {
                &:hover {
                    transform: translate3d(-2px, 0, 0);                    
                }
            }
            
            &.slick-next {
                &:hover {
                    transform: translate3d(2px, 0, 0);                    
                }
            }
        }
        
        .dots {
            margin: 0 20px;
        }
        
        .slick-dots {
            @extend %flex;

            li {
                margin: 0 4px;

                &.slick-active {
                    i {
                        background-color: #181818;
                    }
                }
            }
            
            i {
                display: inline-block;
                width: 10px; height: 10px;
                border-radius: 50%;
                border: 1px solid #181818;
                cursor: pointer;
            }
        }
    }
    
    &__photos {
        @extend %flex;
        @extend %flex-wrap;
        width: 780px;
        height: 100%;
        
        @media screen and ( max-width: 1260px) {
            width: grid(780, 1200);
        }
        
        @media screen and ( max-width: $tablet_portrait + px) {
            width: 100%;
        }
        
        li {
            &:first-child {
                margin-bottom: 20px;
                
                @media screen and ( min-width: $tablet_portrait + 1px ) and ( max-width: $large1) {
                    margin-bottom: grid(20, 1260);
                }
                
                @media screen and ( max-width: $tablet_portrait + px) {
                    margin-bottom: 10px; 
                }
            
            }

        }
        
        
        

            

    }
    
    &__text {
        @extend %flex;
        @extend %flex-wrap;
        flex-direction: column;
        justify-content: center;        
        width: 400px;
        background-color: #ececec;
        padding: 0 40px;
        
        @media screen and ( max-width: 1260px) {
            width: grid(400, 1200);
        }
        
        @media screen and ( min-width: $tablet_portrait + 1px ) and ( max-width: $large1) {
            margin-right: grid(20, 1260);
            padding: 20px grid(40, 1260);
        }
        
        @media screen and ( min-width: $tablet_portrait + 1px ) {
            margin-right: 20px;
        }
        
        @media screen and ( max-width: $tablet_portrait + px) {
            width: 100%;
            padding: 30px 20px;
            margin-bottom: 10px;
        }
        
        

        /*
@media screen and ( min-width: $medium ) {
            position: absolute;
            z-index: 10;
            left: grid(45, 1200); top: 0;
            display: flex;
            width: grid(400, 1200);
            height: 100%;
        }
        
        @media screen and ( min-width: $large ) {
            left: grid(55, 1200); top: 0;
            width: grid(360, 1200);
        }
*/
        
        p {
            font-size: rem(16);
            color: #595959;
            
            @media screen and ( min-width: $large ) {
                font-size: rem(18);
            }
        }
    }
    
    .o-header__third {
        margin-bottom: .6em;
    }
       
    .o-gradient {
        span {
            background-color: #ececec;
        }
    }
    
    &:before {
        top: 25px;
        left: -50px;
    }
}