
.c-prices {
    @extend %flex;
    
    @media screen and ( max-width: $minmedium ) {
        flex-wrap: wrap;
    }
    
    br {
        @media screen and ( max-width: $minmedium ) {
            display: none;
        }
    }
    
    &__btn {
        .limit {
            margin-bottom: 20px;
            font-size: rem(14);
            color: $c-gray3;
        }
    }

    &__item {
        @extend %flex;
        @extend %flex-wrap;
        @extend %flex-spacebetween;
        @extend %rel;
        flex-direction: column;
        width: 100%;
        background-color: $c-gray4;
        padding: 50px 25px 60px 25px;
        
        @media screen and ( min-width: $minlarge ) {
            padding: 50px 45px 60px 45px;
        }
        
        @media screen and ( min-width: $medium ) {
            width: 33.33%;
        }
        
        &--black {
            background-color: $c-black2;
            
            @media screen and ( min-width: $medium ) {
                padding-bottom: 0;
            }

            .c-prices__profits {
                li {
                    color: $c-gray3;

                    &:before {
                        background-color: white;
                        color: $c-black2;
                    }
                    
                    &.plus {
                        &:before {
                            background-color: white;
                            color: $c-black2;
                        }
                    }
                }
            }
            
            .o-header {
                &__secondary {
                    @media screen and ( min-width: $large ) {
                        white-space: nowrap;
                    }
                }
                color: white;
            }
            
            .c-prices__price {
                .circle {
                    border-color: #555;
                }
            }
           
            .price {
                color: white;
            }

            &:before, &:after {
                @extend %abs;
                @extend %abs-after;
                left: 0;
                width: 100%; height: 60px;
                background-color: $c-black2;
                
                @media screen and ( max-width: $minmedium ) {
                    display: none;
                }
            }
            
            &:before {
                top: -40px;
            }
            
            &:after {
                bottom: -60px;
            }
            
            .o-btn {
                &--white {
                    &:hover {
                        background-color: $c-gray8;
                        color: white;
                    }
                }
            }
            
            .c-prices__num {
                border: {
                    top: 1px solid rgba(white, .2);
                    bottom: 1px solid rgba(white, .2);
                }
                
                input[type=number] {
                    color: white;
                }
                
                .lead {
                    color: white;
                }

                .button {
                    background-color: white;
                    border: 1px solid transparent;
                    
                    &:after {
                        color: $c-black2;
                    }
    
                    &:hover {
                        background-color: $c-gray8;
                        
                        &:after {
                            color: white;
                        }
                    }
                }
            }
        }
        
        &--white {
            .o-btn {
                &--white {
                    &:hover {
                        background-color: $c-black2;
                        color: white;
                    }
                }
            }
            
            .button {
                background-color: white;
                border: 1px solid $c-gray11;

                &:hover {
                    background-color: $c-black2;
                    border-color: $c-black2;
                    
                    &:after {
                        color: white;
                    }
                }
            }
            
            .c-prices__num {
                border: {
                    top: 1px solid $c-gray10;
                    bottom: 1px solid $c-gray10;
                }
                
                input[type=number] {
                    color: $c-black2;
                }
            }
        }
    }
    
    &__num {
        @extend %flex;
        @extend %flex-y;
        @extend %flex-spacebetween;
        width: 100%;
        white-space: nowrap;
        margin-bottom: 55px;
        padding: 20px 0;
        
        .lead {
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: rem(14);
        }
    }
    
    &__price {
        @extend %rel;
        
        .circle {
            @extend %flex;
            @extend %flex-wrap;
            @extend %flex-xy;
            flex-direction: column;
            width: 160px; height: 160px;
            margin: 0 auto 60px auto;
            border: 1px solid #d2d2d2;
            border-radius: 50%;
            
            span {
                display: block;
                width: 100%;
                text-align: center;
            }
            
            .price {
                white-space: nowrap;
                line-height: 1;
                font-size: rem(47);
                
            }
        }
        
        .sticker {
            @extend %abs;
            right: 0; top: 0;
            white-space: nowrap;
            transform: rotate(270deg);
            transform-origin: right;
            font: {
                family: $adelle;
                size: 14px;
            }
            color: $c-gray2;
            
            @media screen and ( min-width: $minlarge ) {
                right: 10px;
            }
            

            .green {
                padding-left: 4px;
                font-size: 18px;
            }
        }    
    }
    
    &__profits {
        margin-bottom: 80px;
        
        @media screen and ( max-width: $minmedium ) {
            width: 50%;
            margin: 0 auto;
            flex-wrap: wrap;
            flex-direction: column;
        }
        
        @media screen and ( max-width: $small ) {
            width: 100%;
        }

        li {
            @extend %rel;
            margin-bottom: 20px;
            padding-left: 40px;
            text-align: left;
            font-size: rem(14);
            color: $c-gray3;
            
            @media screen and ( max-width: $minmedium ) {
                width: 100%;
            }
            
            &:before {
                @extend %tick;
                @extend %abs-x;
                left: 0; top: 0;
            }
            
            
        }
    }
    
    &__quantity {
        @extend %flex;
        @extend %flex-spacebetween;
        width: 86px;
        
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
        
        input[type=number] {
            width: 30px;
            text-align: center;
            -moz-appearance: textfield;
            font: {
                family: $adelle;
                size: rem(16);
                weight: $f-light;
            }
        }
        
        .button {
            @extend %anim;
            @extend %rel;
            width: 19px; height: 19px;
            border-radius: 50%;
            cursor: pointer;
            
            &:after {
                @extend %anim;
                @extend %abs;
                @extend %abs-after;
                left: 0; top: 0;
                width: 100%; height: 100%;
                line-height: 19px;
                padding: 0 0 0 1px;
                font-size: rem(24);
                color: $c-gray11;
            }
            
            &--down {
                &:after {
                    content: '-';
                }
            }
            
            &--up {
                &:after {
                    
                    content: '+';
                }
            }
            
            
        }
    }
    
    

    .o-header {
        text-align: center;
        
        .subtitle {
            letter-spacing: 6px;
            padding-bottom: 20px;
        }
    }
    
    .unit {
        text-transform: uppercase;
        font-size: rem(14);
        color: $c-gray2;
    }
}
