.section6 {
    padding-top: 73px;

    @media all and (min-width: $medium) {
        padding-top: 123px;
    }

    @media all and (min-width: $large) {
        padding-top: 193px;
    }

    .big {
        @media all and (max-width: $medium) {
            margin-bottom: 70px;
        }
    }
        
    .box-outer {
        @extend %rel;
        padding-top: 190px;
        position: relative;
        //z-index: 1;
        
        
        
        
        @media all and (min-width: 1600px) {
            margin: 0 -120px;
        }
        
        @media all and (max-width: $medium) {
            margin-bottom: 50px;
            padding-top: 0;
        }
    }

    .box-outer1 {
        display: inline-block;
        width: 100%;
        vertical-align: bottom;
    }

    .box {
        @extend %flex;
        @extend %flex-xy;
        background-color: white;
        box-shadow: 0 0 84px rgba(0, 0, 0, 0.06);
        text-align: center;
        z-index: 1;
        
        @media all and (max-width: $minmedium) {
            padding: 40px 0;
        }
        
        @media all and (min-width: $medium) {
            height: 360px;
            float: left;
            width: 45%;
        }
    
        @media all and (min-width: $extralarge) {
            width: 470px;
        }
        
        h3 {
            width: 100%;
            line-height: 1;
            font-size: 74px;
            font-weight: $f-bold;
            font-family: $adelle;
            letter-spacing: 1px;
            
            @media all and (min-width: $medium) {
                font-size: 90px;
            }
        }
        
        p {
            font-size: 18px;
            line-height: 31px;
            font-weight: 500;
            
            @media all and (min-width: $medium) {
                font-size: 24px;
            }
        }
        
        & + .box {
            @media all and (min-width: $medium) {
                float: right;
            }
        }
    }
    
    .circle {
        @extend %flex;
        @extend %flex-y;
        @extend %flex-wrap;
        flex-direction: column;
        justify-content: center;
        width: 200px; height: 200px;
        background: {
            image: url(../img/circle2.png);
            repeat: no-repeat;
            position: center;
            size: contain;
        }

        @media all and (min-width: $medium) {
            width: 260px; height: 260px;
        }
    }

    .mockup {
        @extend %abs;
        left: -30px;
        text-align: center;
        right: -30px;
        z-index: 1;
        
        img {
            max-width: 100%;
            height: auto;
        }
        
        @media all and (max-width: $medium) {
            display: none;
        }
    }
}