.section9b {
    background-color: white;
    padding: {
        top: 72px;
        bottom: 100px;
    }
    text-align: center;

    @media all and (min-width: $medium) {
        padding: {
            top: 320px;
        }
    }

    @media all and (min-width: $large) {
        padding: {
            top: 420px;
            bottom: 123px;
        }
    }

    .o-btn {
        width: 100%;
    }
}