// Colors

$c-black1:  #4f4f4f;
$c-black2:  #1a1a1a;

$c-gray1:   #969696;
$c-gray2:   #666;
$c-gray3:   #a5a5a5;
$c-gray4:   #f3f3f3;
$c-gray5:   #e8e8e8;
$c-gray6:   #e9e9e9;
$c-gray7:   #dfdfdf;
$c-gray8:   #595959;
$c-gray9:   #808080;
$c-gray10:  #e3e3e3;
$c-gray11:  #d7d7d7;

$c-green1:  #03e8c6;
$c-green2:  #22e6c5;


$c-black0:  #181818;

$c-primary: $c-black0;