<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage" lang="pl">
<head>
    <%= require('html-loader?minimize=false!./includes/head.html') %>
</head>

<body>
    
<div id="all"><div id="all-inner">

	<div class="c-topbar">
	    <div class="o-hamburger js-open-navmenu"><i></i></div>

	    <nav class="c-nav">
	        <ul>
    	        <%= require('html-loader?minimize=false!./includes/nav.html') %>
	        </ul>
    	</nav>
    	
    	<div class="c-logo">
    	    <img src=<%= require("./img/logo-nts.svg") %> width="120" height="20" alt="N/T/S">
    	</div>
    	
    	<div class="c-topbar__cta">
    	    <a href="#prices" class="o-btn o-gradient js-goto">
    	        <span>Kup teraz</span>
	       </a>
    	</div>
    </div>


    <div class="c-header">
        <header class="o-header">        
            <h1 class="o-header__primary">
                Notesy, które zamieniają<br>
                plan w&nbsp;działanie
            </h1>
        </header>
        
        <div class="c-header__buttons">
            <a href="#prices" class="o-btn o-btn--white js-goto">Kup teraz</a>
            <a href="https://www.youtube.com/embed/4OCmTwPb6i0?showinfo=0" class="o-btn o-btn--white js-goto js-video">
                <span class="o-gradient u-play"><span></span></span> Zobacz szczegóły
            </a>
        </div>
        
        <p class="c-header__deadline">Zamów w przedsprzedaży do 7 grudnia.</p>
    </div>
    
    
    <section class="content-section">
        <div class="section-a" id="about" data-offset="80">
            <div class="container-fluid">

                <header class="o-header">
                    <h2 class="o-header__secondary">
                        Tworzenie planów nie jest trudne.<br> 
                        Prawdziwe wyzwanie to ich realizacja.
                    </h2>
                    
                    <h3 class="o-header__fourth">
Rozpisujesz cele i zaczynasz działać. Na początku idzie Ci nieźle, ale nagle coś wybija Cię z rytmu, a plany zostają jedynie kilkoma zdaniami na papierze. Brzmi znajomo, prawda?
                    </h3>
                </header>                

            </div>
        </div>
        
        
        <div class="section-b">
            <div class="container-fluid">
                <div class="col-right">
                
                    <div class="normal-text">
                        <p>
Ja też miałem z tym problem. Od zawsze musiałem sam organizować sobie pracę i sam się z niej rozliczać. Wiedziałem, że warto znać swój cel i&nbsp;zaplanować jego realizację, ale wkoło czekało tyle pilnych spraw, że szybko wracałem do złych nawyków, a plan znikał z pola widzenia. 
                        </p>

                        <p>
Zdałem sobie sprawę, że problem nie leży w złym określaniu celu. Przegrywałem kiedy traciłem kontrolę i&nbsp;przestawałem panować nad sytuacją. Zrozumiałem, że kluczem do walki z chaosem jest dobry rytm. Tylko jak go znaleźć i utrzymać?
                        </p>

                        <p>
Zacząłem czytać badania i podpatrywać jak robią to ci, których osiągnięcia podziwiamy. Znalazłem sposób na krótkie, codzienne podsumowania, które pomagają trzymać się priorytetów i zachować motywację. Okazało&nbsp;się, że nie jest potrzebna tajemna wiedza i&nbsp;specjalistyczna technologia. Odpowiedzią jest znana od setek lat idea własnego dziennika, prowadzonego w odpowiedni sposób. Na te potrzeby stworzyłem specjalny notes i teraz chcę go udostępnić także Tobie.
                        </p>
                    </div>
                </div>
                
                <aside class="col-left">
                    <div class="photo o-sidetitle o-sidetitle--left anim anim--fadein" data-sidetitle="Kim jestem">
                        <img src=<%= require('./img/author.jpg') %> alt="">
                    </div>
                    
                    <ul class="c-social">
                        <li>
                            <a href="https://www.facebook.com/j.klosinski/" class="o-gradient" target="_blank" rel="noopener"><span class="icon-facebook"></span></a>
                        </li>
                        
                        <li>
                            <a href="https://www.instagram.com/jklosinski/" class="o-gradient" target="_blank" rel="noopener"><span class="icon-instagram"></span></a>
                        </li>
                    </ul>
        
                    <h3>Jacek Kłosiński</h3>                    
    
                    <div class="small-text">
                        <p>
Pomagam w kreatywnej pracy.
                        </p>
                        
                        <p>
Nigdy nie pracowałem na etacie. Od&nbsp;kilkunastu lat działam na własny rachunek – najpierw jako freelancer, później właściciel własnej agencji, a&nbsp;obecnie jako bloger, twórca szkoleń i wykładowca.
                        </p>

                        <p>
    Więcej o mnie znajdziesz na <a href="//klosinski.net" target="_blank" rel="noopener">klosinski.net</a>
                        </p>
                        
                        <div class="logo">
                            <a href="//klosinski.net" target="_blank" rel="noopener">
                                <img src=<%= require("./img/logo-klosinski2.svg") %> width="110" height="17" alt="Kłosiński">
                            </a>
                        </div>
                    </div>

                    
                </aside>     
            </div>
        </div>
        
        
        <div class="section-c" id="method" data-offset="80">
            <div class="container-fluid">

                <header class="o-header">
                    <h2 class="o-header__secondary">
                        Dlaczego stworzyłem<br>
                        własne notesy
                    </h2>

                    <h3 class="o-header__fourth">
                        Zobacz krótki materiał video, w którym <br>
                        opowiadam o najważniejszych szczegółach.
                    </h3>
                </header>                

                <div class="c-video">
                    <div class="c-video__item o-sidetitle o-sidetitle--left" data-sidetitle="Video">
                       <!--
 <div class="c-video__placeholder">
                            <img src=<%= require("./img/video.jpg") %> alt="" width="800" height="450">
                        </div>
-->

                        <iframe 
                            width="500" height="281" 
                            src="https://www.youtube.com/embed/4OCmTwPb6i0?showinfo=0" allow="autoplay; encrypted-media"></iframe>

                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="section-d">
            <div class="container-fluid">

                <header class="o-header">
                    <h2 class="o-header__secondary">
                        Jak to działa
                    </h2>

                    <h3 class="o-header__fourth">
                        Cały urok tej metody polega na tym, że jest prosta i naturalna,<br> 
                        ale jednocześnie bardzo skuteczna.
                    </h3>
                </header>                

                
                <div class="c-steps">
                    <div class="c-steps__item" data-num="1">
                        <h4 class="o-header__third">Wypełnij</h4>
                        
                        <p>
Codziennie poświęcasz kilka minut 
na&nbsp;wypełnienie specjalnych rubryk 
w&nbsp;stałym rozkładzie dnia.
                        </p>
                    </div>
                    
                    <div class="c-steps__item" data-num="2">
                        <h4 class="o-header__third">Wracaj</h4>
                        
                        <p>
Regularnie wracasz do swoich 
notatek, wyciągasz wnioski 
i&nbsp;kontrolujesz postępy.
                        </p>
                    </div>
                    
                    <div class="c-steps__item" data-num="3">
                        <h4 class="o-header__third">Trzymaj</h4>
                        
                        <p>
Notes masz zawsze pod ręką 
i&nbsp;traktujesz jako koło ratunkowe, 
które pomaga trzymać się planów.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="section-e">
            <header class="o-header">
                <h3 class="o-header__fourth">
                    Sekret tkwi w szczegółach. Długo szukałem idealnego notesu,<br> 
                    który będzie pasował do tych potrzeb. <br>
                    W&nbsp;końcu zrobiłem swój. Zobacz co go wyróżnia.
                </h3>
            </header>                

            
            <ul class="c-benefits">
                <li class="c-benefits__item">
                    <figure>
                        <div class="o-sidetitle o-sidetitle--left anim anim--fadein" data-sidetitle="Detale">
                            <img src=<%= require("./img/benefits-1.jpg") %> alt="" width="800" height="450">
                        </div>

                        <figcaption>
                            <h4 class="o-header__third">Design</h4>
                    
                            <p>
                                minimalistyczny styl<br>
                                neutralne kolory<br>
                                delikatne tłoczenia
                            </p>
                        </figcaption>
                    </figure>
                </li>
                
                <li class="c-benefits__item">
                    <figure>
                        <div class="o-sidetitle o-sidetitle--right anim anim--fadein" data-sidetitle="Detale">
                            <img src=<%= require("./img/benefits-2.jpg") %> alt="" width="800" height="450">
                        </div>

                        <figcaption>
                            <h4 class="o-header__third">Wygoda</h4>
                    
                            <p>
                                łatwe rozkładanie na płasko<br>
                                szycie z otwartym grzbietem<br>
                                poręczny format
                            </p>
                        </figcaption>
                    </figure>
                </li>
                
                <li class="c-benefits__item">
                    <figure>
                        <div class="o-sidetitle o-sidetitle--left anim anim--fadein" data-sidetitle="Detale">
                            <img src=<%= require("./img/benefits-3.jpg") %> alt="" width="800" height="450">
                        </div>
                        
                        <figcaption>
                            <h4 class="o-header__third">Papier</h4>
                    
                            <p>
                                wysokiej jakości papier bezdrzewny<br>
                                gramatura środka aż 120 g/m²<br>
                                kolor neutralny dla oczu<br>
                                dopasowany do piór i długopisów
                            </p>
                        </figcaption>
                    </figure>
                </li>
                
                <li class="c-benefits__item">
                    <figure>
                        <div class="o-sidetitle o-sidetitle--right anim anim--fadein" data-sidetitle="Detale">
                            <img src=<%= require("./img/benefits-4.jpg") %> alt="" width="800" height="450">
                        </div>

                        <figcaption>
                            <h4 class="o-header__third">Okładka</h4>
                    
                            <p>
                                tłoczenie folią holograficzną<br>
                                strzałka zmienia kolory pod światło<br>
                                gruby, ciemny papier
                            </p>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>


        <div class="section-f">
            <div class="container-fluid">

                <header class="o-header">
                    <h2 class="o-header__secondary">
                        Kilka liczb
                    </h2>

                    <h3 class="o-header__fourth">
                        Proste projekty muszą być przemyślane w każdym detalu.<br> 
                        Żadnego parametru nie zostawiliśmy przypadkowi.
                    </h3>
                </header>                

                <div class="c-numbers">
                    <div class="c-numbers__col c-numbers__col--left">
                        <p data-num="176" class="anim anim--fadein"><span>stron</span></p>
                        <p data-num="12" class="anim anim--fadein"><span>tygodni</span></p>
                        <p data-num="120" class="anim anim--fadein"><span>gramatura papieru</span></p>
                    </div>
                    
                    <div class="c-numbers__col c-numbers__col--right">
                        <p data-num="21" class="anim anim--fadein"><span>centymetrów wysokości</span></p>
                        <p data-num="16" class="anim anim--fadein"><span>centymetrów szerokości</span></p>
                        <p data-num="385" class="anim anim--fadein"><span>gramów wagi</span></p>
                    </div>
                
                    <div class="c-numbers__image anim anim--frombottom">
                        <img src=<%= require("./img/numbers.jpg") %> alt="" width="920" height="710">
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="section-g">
            
            <header class="o-header">
                <h2 class="o-header__secondary">
                    Zajrzyj do środka
                </h2>

                <h3 class="o-header__fourth">
                    Ta metoda to połączenie moderowanego dziennika <br>
                    ze swobodą i przestrzenią na dowolne notatki. <br>
                    Zobacz co znajdziesz w środku.
                </h3>
            </header>                

            <div class="c-inside o-sidetitle o-sidetitle--left" data-sidetitle="Od środka">
                
                <div class="c-inside__text">
                    <div class="o-gradient c-inside__num"><span class="js-slideNum">1</span></div>
                
                    <div class="slider js-slider">
                        <div>
                            <h4 class="o-header__third">Dzień tematyczny</h4>
                            
                            <div class="c-inside__description">
                                <p>Jaki jest przewodni temat tego dnia? Na&nbsp;czym się skupisz?</p>
                            </div>                        
                        </div>
                        
                        <div>
                            <h4 class="o-header__third">Priorytet</h4>
                            
                            <div class="c-inside__description">
                                <p>Jaka jest jedna rzecz, której zrobienie sprawi, że uznasz ten dzień za udany?</p>
                            </div>                        
                        </div>
                        
                        <div>
                            <h4 class="o-header__third">Kontrola</h4>
                            
                            <div class="c-inside__description">
                                <p>Co chcesz monitorować? Jakie nawyki, czynności albo zachowania chcesz kontrolować?</p>
                            </div>                        
                        </div>
                        
                        <div>
                            <h4 class="o-header__third">Nastawienie</h4>
                            
                            <div class="c-inside__description">
                                <p>Jakie masz nastawienie? Jakie jest Twoje podejście?</p>
                            </div>                        
                        </div>
                        
                        <div>
                            <h4 class="o-header__third">Sukcesy</h4>
                            
                            <div class="c-inside__description">
                                <p>Co się udało? Jakie rzeczy albo wydarzenia doceniasz?</p>
                            </div>                        
                        </div>
                        
                        <div>
                            <h4 class="o-header__third">Wnioski</h4>
                            
                            <div class="c-inside__description">
                                <p>Jakie masz spostrzeżenia i pomysły? Czego się nauczyłeś?</p>
                            </div>                        
                        </div>
                        
                        <div>
                            <h4 class="o-header__third">Notatki</h4>
                            
                            <div class="c-inside__description">
                                <p>Co chcesz zanotować? Pusta strona na&nbsp;dowolne zapiski.</p>
                            </div>                        
                        </div>
                    </div>
                    
                    <div class="c-inside__pagination">
                        <div class="arrow icon-arrow-left prev"></div>
                        
                        <div class="dots" id="insideDots"></div>
                        
                        <div class="arrow icon-arrow-right next"></div>
                    </div>
                </div>
                
                <ul class="c-inside__photos fade">
                    <li>
                        <img src=<%= require("./img/insde-11.jpg") %> alt="" width="780" height="390">
                    </li>
                    
                    <li>
                        <img src=<%= require("./img/insde-12.jpg") %> alt="" width="780" height="390">
                    </li>
                </ul>
            </div>
        </div>


        <div class="section-h" id="nts" data-offset="80">
            
            <header class="o-header">
                <h2 class="o-header__secondary">
                    Wszystko Ci wyjaśnię
                </h2>

                <h3 class="o-header__fourth">
                    Do notesu dołączona jest instrukcja. Dowiesz się jak prowadzić<br> 
                    swój dziennik i poznasz szerszy kontekst każdego elementu. To <br>
                    mini książeczka pełna ciekawostek i&nbsp;rad pomagających skutecznie <br>
                    realizować swoje plany.
                </h3>
            </header>                

            <div class="c-instruction c-instruction--instruction">
                
                <div class="c-instruction__col c-instruction__col--left o-sidetitle o-sidetitle--left anim anim--fadein" data-sidetitle="Instrukcja">
                    <img src=<%= require("./img/instruction-1.jpg") %> alt="" width="480" height="730">
                </div>
                
                
                
                <div class="c-instruction__col c-instruction__col--right o-sidetitle o-sidetitle--left anim anim--fadein" data-sidetitle="Instrukcja">
                    <img src=<%= require("./img/instruction-2.jpg") %> alt="" width="480" height="630">
                </div>                
                
                <div class="c-instruction__info c-instruction__info--abs">
                    <h4 class="o-header__third">Sprawdzona metoda</h4>

                    <p>
Opieram się na badaniach naukowych 
i&nbsp;metodach znanych twórców. 
Przeanalizowałem setki materiałów 
i&nbsp;przetestowałem różne warianty. 
Opowiem Ci o&nbsp;wnioskach.
                    </p>
                    
                </div>
            </div>
        </div>
        
        
        <div class="section-l" id="details" data-offset="80">
            
            <header class="o-header">
                <h2 class="o-header__secondary">Dopieszczone detale</h2>

                <h3 class="o-header__fourth">
                    Notes musi być użyteczny, ale musi też świetnie wyglądać. <br>
                    Zobacz galerię zdjęć i przekonaj się ile pracy włożyliśmy<br>
                    w dopracowanie każdego elementu.
                </h3>
            </header>                

            <div class="c-details">
                <div class="c-details__slider js-details">
                    <img src=<%= require("./img/details-1.jpg") %> alt="" width="900" height="510">
                    <img src=<%= require("./img/details-2.jpg") %> alt="" width="900" height="510">
                    <img src=<%= require("./img/details-3.jpg") %> alt="" width="900" height="510">
                    <img src=<%= require("./img/details-4.jpg") %> alt="" width="900" height="510">
                    <img src=<%= require("./img/details-5.jpg") %> alt="" width="900" height="510">
                </div>
                
                <div class="c-details__pagination">
                    <a href="#" class="o-gradient arrow prev"><span class="icon-arrow-left"></span></a>                    
                    <a href="#" class="o-gradient arrow next"><span class="icon-arrow-right"></span></a>
                </div>
            </div>
        </div>


        <div class="section-i" id="variants" data-offset="80">
            
            <header class="o-header">
                <h2 class="o-header__secondary">
                    Dwie wersje
                </h2>

                <h3 class="o-header__fourth">
Podoba Ci się notes, ale wolisz mieć pełną dowolność<br> 
i nie chcesz korzystać z mojej metody? Nie ma problemu,<br> 
przygotowałem też wersję bez zadruku, instrukcji i schematów.
                </h3>
            </header>                

            <div class="c-instruction c-instruction--version c-instruction--center">
                
                <div class="c-instruction__col c-instruction__col--left o-sidetitle o-sidetitle--left anim anim--fadein" data-sidetitle="N/T/S Daily">
                    <img src=<%= require("./img/version-1.jpg") %> alt="" width="460" height="350">
                    
                    <div class="c-instruction__info">
                        <h4 class="o-header__third">Daily</h4>
    
                        <p>
Jeśli chcesz wykorzystać moją<br> 
metodę, skorzystać z zaplanowanych <br>
rubryk i instrukcji, ale mieć też <br>
miejsce na własne notatki.
                        </p>
                    </div>
                </div>
                
                
                <div class="c-instruction__col c-instruction__col--right o-sidetitle o-sidetitle--left anim anim--fadein" data-sidetitle="N/T/S Plain">
                    <img src=<%= require("./img/version-2.jpg") %> alt="" width="460" height="350">
                    
                    <div class="c-instruction__info">
                        <h4 class="o-header__third">Plain</h4>
    
                        <p>
Jeśli chcesz mieć pełną dowolność <br>
i swobodę, nie potrzebujesz konkretnych <br>
rubryk ani mojej metody. <br>
Zadruk w delikatne kropki. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="section-j" id="prices" data-offset="80">
            <div class="container-fluid">
            <header class="o-header">
                <h2 class="o-header__secondary">Zamów taniej w przedsprzedaży</h2>

                <h3 class="o-header__fourth">
Jeśli złożysz zamówienie do 7 grudnia 2018, wysyłka N/T/S Daily oraz<br> 
pakietu N/T/S Daily&amp;Plain jest darmowa! Notesy będą gotowe<br> 
w połowie grudnia.
                </h3>
            </header>
        
            <ul class="c-prices">
                <li class="c-prices__item c-prices__item--white">
                    <div class="c-prielist__content">
                        <header class="o-header">
                            <p class="subtitle">N/T/S</p>
        
                            <h2 class="o-header__secondary">Daily</h2>
                        </header>
                        
                        <div class="c-prices__price">
                            <div class="o-gradient circle">
                                <span>
                                    <span class="oldprice">&nbsp;</span>
                                    <span class="price">85</span>
                                    <span class="unit">zł</span>
                                </span>
                            </div>
                        </div>
                        
                        
                        <ul class="c-prices__profits">
                            <li>
                                Papierowa instrukcja z opisem<br> 
                                mojej metody prowadzenia dziennika
                            </li>
                            
                            <li>
                                Czarny notes na 12 tygodni<br> 
                                (rubryki dziennika plus miejsce<br> 
                                na własne notatki)
                            </li>
                            
                            <li>
                                Ładnie zapakowane
                            </li>
                            
                            <li>
                                Darmowa wysyłka<br> 
                                w&nbsp;przedsprzedaży (Pocztex48)
                            </li>
                        </ul>
                    </div>

                    <div class="c-prices__btn">
                        <a href="https://salescrm.pl/cart/add_product/350" class="o-btn o-btn--white">Kup N/T/S Daily</a>
                    </div>
                </li>
                
                <li class="c-prices__item c-prices__item--black">
                    <div class="c-prielist__content">
                        <header class="o-header">
                            <p class="subtitle">N/T/S</p>
        
                            <h2 class="o-header__secondary">Daily &amp;&nbsp;Plain</h2>
                        </header>
                        
                        <div class="c-prices__price">
                            <div class="o-gradient circle">
                                <span>
                                    <span class="oldprice"><span>150</span></span>
                                    <span class="price">140</span>
                                    <span class="unit">zł</span>
                                </span>
                            </div>                           
                        </div>

                        <ul class="c-prices__profits">
                            <li>
                                Papierowa instrukcja z opisem<br> 
                                mojej metody prowadzenia dziennika
                            </li>
                            
                            <li>
                                Czarny notes na 12 tygodni<br> 
                                (rubryki dziennika plus miejsce<br> 
                                na własne notatki)
                            </li>

                            <li>
                                Szary notes, 176 stron<br>
                                (bez rubryk, bez instrukcji, <br>
                                zadruk w kropki)
                            </li>
                            
                            <li>
                                Ładnie zapakowane
                            </li>
                            
                            <li>
                                Darmowa wysyłka<br> 
                                w&nbsp;przedsprzedaży (Pocztex48)
                            </li>
                        </ul>
                    </div>
                    
                    <div class="c-prices__btn">
                        <a href="https://salescrm.pl/cart/add_product/350&351" class="o-btn o-btn--white o-btn--outline">Kup pakiet</a>
                    </div>
                </li>
                
                <li class="c-prices__item c-prices__item--white">
                    <div class="c-prielist__content">
                        <header class="o-header">
                            <p class="subtitle">N/T/S</p>
        
                            <h2 class="o-header__secondary">Plain</h2>
                        </header>
                        
                        <div class="c-prices__price">
                            <div class="o-gradient circle">
                                <span>
                                    <span class="oldprice">&nbsp;</span>
                                    <span class="price">69</span>
                                    <span class="unit">zł</span>
                                </span>
                            </div>
                        </div>

                        
                        <ul class="c-prices__profits">
                            <li>
                                Szary notes, 176 stron<br>
                                (bez rubryk, bez instrukcji, <br>
                                zadruk w kropki)
                            </li>
                            
                            <li>
                                Ładnie zapakowane
                            </li>
                        </ul>
                    </div>
                    
                    <div class="c-prices__btn">
                        <a href="https://salescrm.pl/cart/add_product/351" class="o-btn o-btn--white">Kup N/T/S Plain</a>
                    </div>
                </li>
            </ul>
            </div>
        </div>


        <div class="section-k js-faq">
            <div class="container-fluid">
                <div class="columns">
                    <div class="col-left">
                                            
                        <h2>Często<br> zadawane pytania</h2>
                        
                        <ul class="list">
                            <li class="open">
                                <h3>Kiedy otrzymam N/T/S zamówiony w&nbsp;przedsprzedaży? <span class="plus"></span></h3>
        
                                <div class="response">
                                    <p>Przedsprzedaż trwa do 7 grudnia. Wysyłka pierwszych zamówień rozpocznie się prawdopodobnie 10 grudnia.</p>
                                </div>
                            </li>
                        
                            <li>
                                <h3>Dlaczego warto kupić produkty w&nbsp;przedsprzedaży? <span class="plus"></span></h3>
                                
                                <div class="response">
                                    <p>Przedsprzedaż to zdecydowanie najlepsza okazja cenowa. Kupując N/T/S Daily zyskujesz darmową przesyłkę. Pakiet N/T/S Daily&Plain również wysyłamy za darmo i dodatkowo, kupując go w przedsprzedaży, zyskujesz rabat 10 zł od ceny regularnej.</p>
                                    
                                    <p>Nakład N/T/S jest bardzo ograniczony. Jeśli zastanawiasz się nad kupnem lub zależy Ci na otrzymaniu przesyłki przed Świętami, nie warto czekać.</p>
                                </div>
                            </li>
                            
                            <li>
                                <h3>Jakie są sposoby wysyłki i płatności? <span class="plus"></span></h3>
        
                                <div class="response">
                                    <p>Notesy wysyłamy poprzez Pocztex48 (czyli usługą kurierską Poczty Polskiej). Powinny być u Ciebie w ciągu 24-48 godzin od wysłania. O nadaniu Twojej paczki powiadomimy Cię mailowo.</p>
                                    
                                    <p>Możesz wybrać opcję szybkich płatności (Przelewy24) lub płatność przy odbiorze (dodatkowo płatna).</p>
                                </div>
                            </li>
                            
                            <li>
                                <h3>Ile muszę zapłacić za dostawę? <span class="plus"></span></h3>
        
                                <div class="response">
                                    <p>W okresie przedsprzedaży koszt wysyłki N/T/S Daily i pakietu N/T/S Daily&Plain bierzemy na siebie (tylko do 7 grudnia).</p>
                                    <p>Standardowy koszt wysyłki to 14,9 zł. Jeśli zdecydujesz się na opcję za pobraniem, musisz doliczyć 5,9 zł.</p>

                                    <p>Jeśli chcesz kupić tylko N/T/S Plain, koszt wysyłki zostanie doliczony również w czasie przedsprzedaży.</p>
                                </div>
                            </li>
                            
                            <li>
                                <h3>Dlaczego muszę tak długo czekać na N/T/S kupiony w przedsprzedaży? <span class="plus"></span></h3>
        
                                <div class="response">
                                    <p>Przy produkcji notesów nie szliśmy na kompromisy. Notesy są produkowane przez rodzinną polską drukarnię. Są szyte, klejone, mają tłoczone i ręcznie przyklejane okładki oraz specjalne papiery. To wszystko sprawia, że proces przygotowania Twojego N/T/S trochę trwa.</p>
                                </div>
                            </li>
                            
                            <li>
                                <h3>Czy mogę zamówić dany notes z&nbsp;inną okładką? <span class="plus"></span></h3>
        
                                <div class="response">
                                    <p>Niestety obecnie nie ma takiej możliwości. Możesz zamówić N/T/S Daily z czarną okładką lub N/T/S Plain z szarą.</p>
                                </div>
                            </li>
                            
                            <li>
                                <h3>Czy wysyłamy notesy za granicę? <span class="plus"></span></h3>
        
                                <div class="response">
                                    <p>Niestety aktualnie nie ma możliwości wysyłki zagranicznej. Jeśli bardzo zależy Ci na otrzymaniu swojego N/T/S i mieszkasz za granicą, musisz poprosić znajomych lub rodzinę mieszkającą w&nbsp;Polsce.</p>
                                </div>
                            </li>
                            
                            <li>
                                <h3>Czy notesy można kupić poza tą stroną i&nbsp;czy planujesz jakieś specjalne promocje? <span class="plus"></span></h3>
        
                                <div class="response">
                                    <p>Obecnie notesy można kupić wyłącznie na naszej stronie. Nie planuję również dodatkowych obniżek i rabatów. Prawdopodobnie najkorzystniej będzie kupić notesy w&nbsp;przedsprzedaży.</p>
                                </div>
                            </li>
                            
                            <li>
                                <h3>Czy otrzymam fakturę VAT (na firmę)? <span class="plus"></span></h3>
        
                                <div class="response">
                                    <p>Oczywiście, wystarczy, że przy zamówieniu zaznaczysz odpowiednią opcję. Fakturę wyślemy do Ciebie mailowo.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                
                    <div class="col-right">
                        <div class="can-fixed">
                            
                            <h2>Nadal nie masz<br> pewności?</h2>
                            
                            <p class="photo">
                                <img src=<%= require('./img/avatar.png') %> alt="">
                            </p>

                            <p>
                                Jeśli nadal zastanawiasz się,
                                czy te notesy są dla Ciebie,
                                napisz do mnie i opisz swoje
                                wątpliwości
                            </p>
        
                            <p>
                                <a href="#" class="btn">POSTARAM SIĘ DORADZIĆ</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <div class="c-footer">
    
        <div class="c-footer__logo">
            <a href="//klosinski.net" target="_blank" rel="noopener">
                <img src=<%= require("./img/logo-klosinski.svg") %> alt="Kłosiński" width="132" height="20">
            </a>
        </div>
        
        <div class="c-footer__copy">
            &copy;2018 Jacek Kłosiński – <a href="//klosinski.net" target="_blank" rel="noopener">klosinski.net</a> All rights reserved.
        </div>
        
        <nav class="c-footer__nav">
            <ul>
                <li>
                    <a href="https://salescrm.pl/klosinski-net/regulamin" target="_blank" rel="noopener">regulamin</a>
                </li>
                
                <li>
                    <a href="https://salescrm.pl/klosinski-net/polityka-prywatnosci" target="_blank" rel="noopener">polityka prywatności</a>
                </li>
            </ul>
        </nav>
    
        <ul class="c-social">
            <li>
                <a href="https://www.facebook.com/j.klosinski/" class="icon-facebook" target="_blank" rel="noopener"></a>
            </li>
            
            <li>
                <a href="https://www.instagram.com/jklosinski/" class="icon-instagram" target="_blank" rel="noopener"></a>
            </li>
        </ul>
    </div>




    <div class="popup-outer" id="contact-popup">
        <div class="popup-inner">
        
            <button class="button-close"><span>Zamknij</span></button>

            <p class="subtitle">ZADAJ PYTANIE</p>

            <h2>Postaram się doradzić</h2>

            <form action="#" method="post" class="form">
              
                <fieldset>
                    <input type="hidden" name="action" value="sendpopup">
                    <input type="hidden" name="tokenid" value="aca6b974456fa116">
    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="popupName">Imię</label>
                                <input type="text" id="popupName" name="name" class="form-control" value="">
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="popupSurName">Nazwisko</label>
                                <input type="text" id="popupSurName" name="surname" class="form-control" value="">
                            </div>
                        </div>
                    </div>
         
                    <div class="form-group">
                        <label for="popupEmail">Adres e-mail</label>
                        <input type="email" id="popupEmail" name="email" class="form-control" value="">
                    </div>
    
                    <div class="form-group">
                        <label for="popupMessage">Treść</label>
                        <textarea id="popupMessage" name="message" class="form-control"></textarea>
                    </div>
    
                    <p class="button">
                        <button type="submit" class="btn">WYŚLIJ</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="layer-popup"></div>



</div></div>


<div class="c-navmenu js-navmenu">
    <div class="c-navmenu__content">

        <ul class="c-navmenu__pages">
            <%= require('html-loader?minimize=false!./includes/nav.html') %>
        </ul>
            
        <div class="o-hamburger is-active js-close-navmenu">
            <i></i>
        </div>
    </div>
</div>

<div class="c-apla js-apla"></div>

<div class="c-cookies move-out" id="cookies">
    <div class="c-cookies__text">Wykorzystujemy pliki cookie. Szczegóły znajdziesz w&nbsp;<a href="https://salescrm.pl/klosinski-net/polityka-prywatnosci" target="_blank" rel="noopener">polityce prywatności</a>.</div>
    <div class="c-cookies__btn js-accept">Wyrażam zgodę</div>
</div>

</body>
</html>
